*{
    margin: 0;
    border: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 100px;
}
nav {
      display: flex;
      align-items: center;
      justify-content: space-around;
      background: rgb(1, 41, 43);
      padding: 0.8rem 1.5rem;
      color: white;
      position: sticky;
      top: 0;
      z-index: 1000;
    }
    .hamburger{
        display: none;
    }
    .navlinks{
      flex: 1;
        display: flex;
        gap: 50px;
        justify-content: flex-end;
        padding-right: 20px;
    }
    .navlinks a{
        text-decoration: none;
        color: white;
        font-size: 20px;
    }
    .navlinks a:hover{
        color: #01a378;
    }
    .active a{
        color: #01a378; 
    }
   
    /* About me section*/
    .aboutMe{
        display: flex;
        gap: 20px;            
      padding: 20px;
      justify-content: center;
     
    }
    .Aboutme:hover img{
        transform: scale(1.1) rotate(3deg);
      box-shadow: 0 0 40px 10px rgba(255,255,255,0.4);
    }
    
    .column h3{
color: rgb(1, 41, 43);
}
.column button{
  cursor: pointer;
  color:white;
  height: 40px;
  width: 20%;
  border-radius: 5px;
  background-color: rgb(1, 41, 43);
  
}
.column button:hover{
  color: black;
  background-color: #01a378;
}
.column {               
      
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
      background-color: rgb(248, 244, 238);
    }
    figure img {
      max-width: 100%;
      border-radius: 8px;
    }

    figcaption {
      margin-top: 10px;
      font-size: 14px;
      color: rgb(112, 112, 111);
      padding: 10px;
     
    }
    .logo{
        font-size: 20px;
    }

    /* Project Section*/

    .projects h2{
      padding: 20px;
    }
    .ProjectSection{
      display: flex;
      gap: 20px;
      margin: 20px;
      color: white;
    }
    .projfig{
      box-shadow: #f0f0f0;
      background-color: rgb(1, 41, 43);
      border-radius: 20px;
     
    }
     p, button{
      padding: 5px;
    }
    .projbtn{
       cursor: pointer;
  color:white;
  height: 30px;
  width: 20%;
  border-radius: 5px;
  background-color: rgb(236, 114, 14);
    margin-left: 300px;
    margin-bottom: 5px;
    }
    .projbtn:hover{
      background-color: #546862;
    }

    
     

    /* contact section */

    .ContactSection{
      display: flex;
      gap: 30px;
      width: 100%;
      margin: 20px;
      justify-content: center;
    }
    .box{
       padding: 20px;
      border-radius: 10px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
      height: fit-content;
      background-color: #f0f0f0;
      color: black;
      max-width: 400px;
    }
    .contact{
      width: 50%;
      height: 320px;
    }
      .message{
         flex: 1;
      }

    .intouch{
       transition: border-color 0.3s, box-shadow 0.3s;
    border: 1px solid #04a16d; 
    padding: 5px;
      border-radius: 10px;
      background: transparent;
      margin: 30px;
    }
    .intouch h5{
      display: block; 
    margin-bottom: 8px;
    color: #8a8989;
    font-weight: 600;
    font-size: 0.95em;
    }
   form{
   
    padding: 20px;
    display: flex;
    gap: 20px;
   }
   form div {
    margin-bottom: 20px;
}

label {
    display: block; 
    margin-bottom: 8px;
    color: #8a8989;
    font-weight: 600;
    font-size: 0.95em;
}
input{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box; 
    font-size: 1em;
    transition: border-color 0.3s, box-shadow 0.3s; 
    border: 1px solid  #04a16d; 
   
}
 button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #04a16d; /* Primary Action Color (Blue) */
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1.1em;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
    margin-top: 10px;
}
button[type="submit"]:hover{
  background-color: #fa3e05;
}
textarea{
  transition: border-color 0.3s, box-shadow 0.3s; 
    border: 1px solid  #04a16d; 
    border-radius: 5px;
}
.box:hover{
  animation: pulseGlow 2s infinite;
}


/* footer section */
footer{
  background-color: rgb(1, 41, 43);
  color: white;
}
.footer{
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  background-color: rgb(1, 41, 43);
  padding-top: 20px;
  color: white;
}
.fta{
  display: block;
  text-decoration: none;
  color: white;
}
.fta:hover{
  color: #01a378;
}
.copy{
  text-align: center;
  padding-top: 20px;
  color: aquamarine;
}
@keyframes pulseGlow {
      0% {background-color: #01a378;
        color: #010f0d; }
      50% {  background-color: #02aa8e;
        color:#fff; }
      100% { background-color: rgb(1, 41, 43);
        color: #fff; }
    }

    .image-container:hover {
      animation: pulseGlow 2s infinite;
    }
    

@keyframes colorShift {
      0% {
        background-color: #01a378;
        color: #010f0d;
      }
      50% {
        background-color: #02aa8e;
        color:#fff;
      }
      100% {
        background-color: rgb(1, 41, 43);
        color: #fff;
      }
    }
@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
    background-color: #e7f8f8;
  }
.navlinks{
  display: none;

}
.hamburger{
  display: block;
}
header{
    position: sticky;
    top: 0;
    z-index: 1000;
   height: 50px;
}
nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: rgb(1, 41, 43);
      padding: 0.8rem 1.5rem;
      color: white;
      position: sticky;
      top: 0;
      z-index: 1000;
    }
    .logo{
      font-size: small;
    }

    /* mobile view for about me section */

    .aboutMe{
        display: flex;
        flex-direction: column;
        gap: 20px;            
      justify-content: center;
      padding-top: 0;
     
    }
    .me{
      justify-content: center;
      align-items: center;
      
    
    }
    .column h3{
color: rgb(1, 41, 43);
}
.column button{
  cursor: pointer;
  color:white;
  height: 40px;
  width: 40%;
  border-radius: 5px;
  background-color: rgb(1, 41, 43);
  
}
.column button:hover{
  color: #fa3e05;
}
.column {               
      
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }
    figure img {
      max-width: 100%;
      border-radius: 8px;
    }

    figcaption {
      font-size: 14px;
      color: rgb(112, 112, 111);
     
    }
 
    /* projec section on mobile */

    .projects h2{
      padding: 20px;
    }
    .ProjectSection{
     
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .projfig{
      height: 300px;
      width: 100%;
     
    }
     .projimg{
      height: 180px;
      width: 100%;
     }
    .lastp{
      font-size: small;
      padding-bottom: 0;
      padding-top: 0;
    }
    .projbtn{
  width: 30%;
    margin-left: 200px;
    margin-bottom: 5px;
    }
   
/* contact section on mobile */

.ContactSection{
      flex-direction: column;
      justify-content: center;
      align-items: center;

      display: flex;
      gap: 30px;
      width: 100%;
      margin: 0;
      
    }
    .intouch{
      width: 100%; 
    padding-top: 10px;
      border-radius: 10px;
      margin-top: 30px;
      margin-left: 0;
       animation: colorShift 5s infinite alternate ease-in-out;
    }
    .intouch:hover{
       border-color: #ff7300;
     
    }
  form{
   
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
   }
  .box{
  
    margin: 0;
  }

    .contact{
      width: 80%;
      height: 320px;
    }
      .message{
          width: 80%;
      height: 200px;
      }
textarea{
 
    width: 100%;
}
 button[type="submit"] {
    width: 100%;
   
}

/* footer section on mobile */


.footer{
  display: flex;
  flex-direction: column;
  gap: 40px;
 justify-content: center;
 align-items: center;
}
.ftdiv{
  justify-content: center;
  align-items: center;
}
}